= form_for @meeting do |form|
    = form.label :name
    = form.text_field :name, class: "input"
    %br
    = form.label :description
    = form.text_area :description, class: "textarea"
    %br
    
    .actions
        = form.submit class: "button is-primary"
