.title Mitgliederversammlungen

%table
  %thead
    %tr
      %th(colspan="3")
  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= meeting.name
        %td= meeting.description
        %td= link_to 'Show', meeting_path(meeting)
        - if current_user.is_admin
          %td= link_to 'Edit', edit_meeting_path(meeting)
          %td= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }

