.columns
  .column.is-1
    = link_to 'Zurück', meetings_path
  .column
    .columns
      .column.has-text-left
        %span
          .title= @meeting.name
          - if current_user.is_admin
            %span
              .button= link_to 'Titel und Erklärung bearbeiten', edit_meeting_path(@meeting)
              .button= link_to 'Satzungsänderung hinzufügen', new_mutation_path(meeting: @meeting)
              .button= link_to 'Teilnehmerliste generieren', users_meeting_path(@meeting)

        .subtitle= @meeting.description

        -unless @meeting.mutations.empty?
          - i = 1
          -@meeting.mutations.each do |mutation|
            .columns
              .column.is-4
                .subtitle
                  %span
                    = i.to_s + ". Satzungsänderung"
                  %div
                    zugestimmt:
                    = mutation.agreements.select { |a| a.status == "positive" }.length
                  
                  %div 
                    enthalten:
                    = mutation.agreements.select { |a| a.status == "neutral" }.length
                  
                  %div 
                    abgelehnt:
                    = mutation.agreements.select { |a| a.status == "negative" }.length

                - i = i + 1
              .column.has-text-left
                %p.subtitle= mutation.description
            - if current_user.is_admin
              %td= link_to 'Bearbeiten', edit_mutation_path(mutation), class: "button"
              %td= link_to 'Löschen', mutation, method: :delete, data: { confirm: 'Bist Du sicher?' }, class: "button"

            -if mutation.agreements.where(user: current_user).empty?
              .button= link_to 'Zustimmen', agree_mutation_path(mutation)
              .button= link_to 'Enthalten', abstain_mutation_path(mutation)
              .button= link_to 'Ablehnen', disagree_mutation_path(mutation)
                
    