<h1> <%= @meeting.name %> </h1>
<p> 
  <%= @meeting.description %>
</p>

<h3>H채nde daf체r: <%= @agreements.length %> </h3>
<h3>H채nde dagegen: <%= @agreements.length %> </h3>
<h3>H채nde enthalten: <%= @agreements.length %> </h3>


<% @agreements.each do |am|%>
  <%= am.user.name%>
<% end %>

<% if @agreements.where(user: current_user).empty? %>
  <%= link_to 'Agree', agree_meeting_path(@meeting)%>
<% end %>
<% if current_user.is_admin %>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %>

<% end %>
<%= link_to 'Back', meetings_path %>
