%h1= @meeting.name
%p
  = @meeting.description

%h3 
  H채nde daf체r:
  = @agreements.select { |a| a.status == "positive" }.length
%h3 
  H채nde dagegen: 
  = @agreements.select { |a| a.status == "negative" }.length
%h3
  H채nde enthalten:
  = @agreements.select { |a| a.status == "neutral" }.length


-@agreements.each do |am|
  = am.user.name

-if @agreements.where(user: current_user).empty?
  .button= link_to 'Agree', agree_meeting_path(@meeting)
  .button= link_to 'Disagree', disagree_meeting_path(@meeting)
  .button= link_to 'Abstain', abstain_meeting_path(@meeting)

- if current_user.is_admin
  .button= link_to 'Edit', edit_meeting_path(@meeting)
%br
= link_to 'Back', meetings_path
