<h1> <%= @meeting.name %> </h1>
<p> 
  <%= @meeting.description %>
</p>

<h3>H채nde daf체r: <%= @agreements.select { |a| a.status == "positive" }.length %> </h3>
<h3>H채nde dagegen: <%= @agreements.select { |a| a.status == "negative" }.length %> </h3>
<h3>H채nde enthalten: <%= @agreements.select { |a| a.status == "neutral" }.length %> </h3>


<% @agreements.each do |am|%>
  <%= am.user.name%>
<% end %>

<% if @agreements.where(user: current_user).empty? %>
  <%= link_to 'Agree', agree_meeting_path(@meeting) %>
  <%= link_to 'Disagree', disagree_meeting_path(@meeting) %>
  <%= link_to 'Abstain', abstain_meeting_path(@meeting) %>
<% end %>

<% if current_user.is_admin %>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %>

<% end %>
<%= link_to 'Back', meetings_path %>
