<% @users.each do |user| %>

  <%= form_for user do |form| %>
    <% if user.is_admin%>
      <%= form.hidden_field :is_admin, :value => false %>
    <% else %>
      <%= form.hidden_field :is_admin, :value => true %>
    <% end %>
  
    <div class="actions">
      <%= user.name %>
      <%= user.is_admin %>

      <%= form.submit "Toggle Admin" %>
    </div>
  <% end %> 
<% end %> 

