%nav.navbar( role="navigation" aria-label="main navigation")
  .navbar-brand
    = link_to (image_tag("VCM_Logo_Signatur.png", :alt => "Venture Club Münster Logo", :class => "navbar-item")), root_url
  .navbar-item 
    - unless current_user
      .button= link_to 'Log In', '/auth/slack', method: :get
    - else
      .button= link_to 'Log Out', sessions_destroy_path, method: :get
  - if current_user && current_user.is_admin
    .navbar-item
      .button= link_to 'Neue Mitgliederversammlung', new_meeting_path
    .navbar-item
      .button= link_to 'Neuer Admin', users_path
