%nav.navbar( role="navigation" aria-label="main navigation")
  .navbar-brand
    = image_tag("VCM_Logo_Signatur.png", :alt => "Venture Club Münster Logo", :class => "navbar-item")
  .navbar-item 
    - unless current_user
      .button= link_to 'Log In', '/auth/slack', method: :get
    - else
      .button= link_to 'Log Out', sessions_destroy_path, method: :get
      - if current_user.is_admin
        .button= link_to 'New Meeting', new_meeting_path
        .button= link_to 'New Admin', users_path
    

